@(pipeline: models.Pipeline)

@import be.objectify.deadbolt.Deadbolt

@main("EMPApp: Select Images") {
    @stages(pipeline) {
        <script src="@routes.Assets.at("js/lightbox.js")"></script>
        <link href="@routes.Assets.at("css/lightbox.css")" rel="stylesheet" />
        <script type="text/javascript" src="http://api.filepicker.io/v0/filepicker.js"></script>
        <script type="text/javascript">
            projectId = @pipeline.getProject.getId();
        </script>
        <script src="@routes.Assets.at("js/pipeline/upload.js")"></script>
        <h1>Select Images</h1>
        @helper.form(action = routes.Pipeline.doSelectImages(pipeline.getId()), 'class -> "form") {
            <h2> Available Images </h2>
            <br/>
            <div id="availableImages" class="span8"> 
                @for(image <- pipeline.getProject().getImages()) {
                    <div class="row">
                        <span class="span6 breadcrumb">
                            <label class="checkbox">
                                <input name="images" type="checkbox" value=@image.getId() @if(pipeline.containsImage(image)) {checked} />
                                <a rel="lightbox" href=@image.getUrl()>@image.getName()</a> 
                                <span class="badge badge-info" style="float: right">@image.getUploaded().format("MM/dd/yy")</span>
                            </label>
                        </span>
                    </div>
                }
                <div id="uploadImages" class="row">
                    <p>
                    <div onclick="uploadImages()" class="span3 btn btn-success btn-large"><i class="icon-arrow-up icon-white"></i> Upload Images</div>
                    </p>
                    <p>
                    <button type="submit" class="span3 btn btn-primary btn-large">Particle Picking <i class="icon-arrow-right icon-white"></i> </button>
                    </p>
                </div>
            <div>
            <br/>
            <br/>
            <div id="next" class="row">
            </div>
        }   
    }
}