@(pipeline: models.Pipeline)

@import be.objectify.deadbolt.Deadbolt

@main("EMPApp: Pick Particles") {
    @stages(pipeline) {
        <h1>Pick Particles</h1>
        <h3>How it works</h3>
        <br/>
        <div id="aboutPicking" class="row">
            <div class="span6">
                <p>
                    Particle picking find single objects, or <em>particles</em>, from large images for individual analysis later on.
                    The goal here is to select individual protein molecules or complexes, ignoring anything else in the images. 
                </p>
                <p>
                    EMP must be able to tell the difference between relevant objects and background. 
                    It assumes that the individual particles have contrast, and are contiguous and distinct from one another. 
                </p>
                <p> 
                    To actually pick the particles, EMP blurs the images twice to get just the rough shapes of objects. 
                    It then uses a contrast threshold to find individual proteins, and draw a bounding box around each them. 
                </p>
            </div>
        </div>
        <br/>
        @helper.form(action = routes.Pipeline.doPickParticles(pipeline.getId()), 'class -> "form") {
            <button type="submit" class="span3 btn btn-primary btn-large">Particle Filtering <i class="icon-arrow-right icon-white"></i> </button>
        }
    }
}