@(pipeline: models.Pipeline, message: String = null)

@import be.objectify.deadbolt.Deadbolt

@main("EMPApp: Pick Particles") {
    <script src="@routes.Assets.at("js/pipeline/moreOptions.js")"></script>

    @stages(pipeline) {
        @if(message != null) {
            @alertMessage(message)
        }
        <h1>Pick Particles</h1>
        <h3>How it works</h3>
        <br/>
        <div id="aboutPicking" class="row">
            <div class="span6">
                <p>
                    Particle picking finds single objects, or <em>particles</em>, from large images for individual analysis later on.
                    The goal here is to select individual protein molecules or complexes, ignoring anything else in the images. 
                </p>
                <p>
                    EMP must be able to tell the difference between relevant objects and background. 
                    It assumes that the individual particles have contrast, and are contiguous and distinct from one another. 
                </p>
                <p> 
                    To actually pick the particles, EMP blurs the images twice to get just the rough shapes of objects. 
                    It then uses a contrast threshold to find individual proteins, and draw a bounding box around each of them. 
                </p>
            </div>
        </div>
        <br/>
        @helper.form(action = routes.Pipeline.doPickParticles(pipeline.getId()), 'class -> "form-horizontal") {
            <div class="row">
                <div class="span3">
                    <h3>Options</h3>   
                </div>
            </div>
            <div class="row">
                <div id="standard" class="span6 well">
                    <label>Expected particle size
                        <input type="text" name="particleSize" class="span1" placeholder="in pixels"/>
                    </label>  
                    <label> +/-
                        <input type="text" name="particleEpsilon" class="span1" placeholder="pixels"/>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="span3">
                    <button id="more" type="button" class="btn btn-large" onclick="toggleAdvanced()">More Options</button>  
                </div>
            </div>
            <br/>
            <div id="advanced" class="row" style="display: none">
                <div class="span6 well">
                    <div class="control-group">
                        <label class="control-label" for="boxSize">Size of bounding boxes</label>
                        <div class="controls">
                            <input id="boxSize" type="text" name="boxSize" class="span1" placeholder="in pixels"/>
                        </div>
                        <h6>Defaults to 2x (particle size + tolerance)</h6>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="firstFilter">Radius of first filter</label>
                        <div class="controls">
                            <input id="firstFilter" type="text" name="firstFilter" class="span1" placeholder="in pixels" value="45"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="secondFilter">Radius of second filter</label>
                        <div class="controls">
                            <input id="secondFilter" type="text" name="secondFilter" class="span1" placeholder="in pixels" value="71"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="threshold">Contrast Threshold</label>
                        <div class="controls">
                            <input id="threshold" type="text" name="threshold" class="span1" value="120"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="span3 btn btn-primary btn-large">Particle Filtering <i class="icon-arrow-right icon-white"></i> </button>
            </div>
        }
    }
}