@(projects: List[models.Project])

@import be.objectify.deadbolt.Deadbolt

@main("EMPApp: Active Projects", "projects") {
    <script src="@routes.Assets.at("js/project/overview.js")"></script>
    @if(projects.isEmpty()) {
        <h1>No Projects</h1>
        <br/>
    } else {
        <h1>Projects</h1>
    }
    <div id="notifications">
    </div>
    <div id="projectlist" class="span8">
        @for(p <- projects) {
            @projectInfo(p)
        }
        <div id="newProject" class="row">
            <a href=@routes.Project.create() class="span3 offset2 btn btn-primary btn-large" >
                <i class="icon-plus icon-white"></i> Create a Project
            </a>
        </div>
    </div>
}