@(project: models.Project)

@import be.objectify.deadbolt.Deadbolt

@main("EMPApp: Pipelines", "pipelines") {
    <h1>@project.getName()</h1>
    @if(project.getPipelines().isEmpty()) {
        <h2>No Pipelines<h2>
    } else {
        <h2>Pipelines<h2>
    }
    <div id="pipelinelist" class="span8">
        @for( p <- project.getPipelines()) {
            @pipelineInfo(p)
        }
        <div id="newPipeline" class="row">
            <a href=@routes.Pipeline.create(project.id)>
                <div class="span3 offset2 btn btn-primary btn-large"><i class="icon-plus icon-white"></i> Create a Pipeline</div>
            </a>
        </div>
    </div>
}