@(pipeline: models.Pipeline)

<div id=@("pipeline_"+pipeline.id) class="row breadcrumb">
    <a href=""><i class="icon-chevron-right go-icon" style="float: right"></i></a>
    <div id=@("pipeline_"+pipeline.id+"_name") class="span3"> 
        <h4></h4> 
    </div>
    <div id=@("pipeline_"+pipeline.id+"_status") class="span3">
        <h6></h6>
    </div>
    <div id=@("pipeline_"+pipeline.id+"_date") class="span1">
        <span class="badge badge-info">pipeline.getDate().format('MM/dd/yy')</span>
    </div>
</div>