@import be.objectify.deadbolt.Deadbolt

@main("EMPApp: Electron Microscopy in the Cloud") {
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>EMP</h1>
        <p> Processing for single particle electron microscopy, made easy. 
          <br>EMP harnesses the power of the cloud to accelerate image processing. 
          <br/>
          <br/>
          @if(!Deadbolt.viewRoleHolderPresent()) {
            <a href=@routes.Application.signup()><span class="btn btn-large btn-primary">Get Started</span></a>
          } else {
            <a href=@routes.Project.overview()><span class="btn btn-large btn-primary">Get Started</span></a>
          }
        </p>
      </div>

      <!-- Example row of columns -->
      <div class="row">

      </div>
    }